body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.wrapper {
    width: calc(100%/3);
    margin: 1em auto;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.time {
    font-size: 3em;
    margin-bottom: .5em;
}

button {
    margin: .2em;
}

button:hover {
    color: red;
}